<div class="container">
    <br>
    <app-navbar></app-navbar>
    <div class="jumbotron jumbotron-fluid">
        <div style="text-align: center;">
            <h2>Github Search Engine.</h2>
        </div>
        <hr>
        <p>Feel free to access information on github users using this web application</p>
    </div>

    <app-search-bar></app-search-bar>
    <br>
    <hr>
    <h3 id="userprofile">Github User Profile.</h3>
    <div *ngIf="user">
        <div class="card" style="width: 18rem;" id="profile">
            <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}" class=" card-img-top " alt="avatar url ">
            <div class="card-body ">
                <h5 class="card-title " id="login">{{user.login}}</h5>
                <p class="card-text "></p>
                <p class="card-text ">Followers:{{user.followers}} </p>
                <p class="card-text ">Following:{{user.following}} </p>
                <p class="card-text ">Public Repositories:{{user.public_repos}} </p>
                <a href="{{user.html_url}}" target="_blank" class="btn btn-warning ">View profile.</a>
            </div>
        </div>
    </div>

    <br><br>
    <hr>

    <h3 id="userrepo">Public Repositories.</h3>
    <br>
    <div class="row ">
        <div class="col-md-12">
            <div *ngFor="let repo of repos ">
                <div class=" card border-light mb-3 " style="max-width: 18rem; " id="repo ">
                    <div class="card-header ">{{repo.name}}</div>
                    <div class="card-body ">
                        <h5 class="card-title ">Light card title</h5>
                        <p class="card-text ">Number of forks:{{repo.forks}}</p>
                        <a href="{{repo.html_url}} " target="_blank" class="btn btn-danger ">Visit actual repository.</a>
                    </div>
                    <div class="card-footer text-muted ">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
